/* CSS declarations go here */
.map-container {
  width: 100%;
  max-width: 100%;
  height: 700px;
}

#floating-panel {
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0x;
  z-index: 99;
}
